@import '../../../style/variables.scss';

$shifting : -10rem;
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black-1;
    height:100%;
    width: 100%;
    
    .introduction-text{
        margin-top: $shifting;
        display: inline;
        width: 45%;
        margin-right: 5rem;
        @media (max-width: 1024px) {
            margin: 0 2.5rem;
            width:fit-content;
        }
        &__title{
            font-family: 'Quicksand', sans-serif;
            font-size: 9rem;
            position: relative;
            &--color-yellow{
                color: $color-secondary;
            }

            &--color-green{
                color: $color-primary;
            }
        }

        &__gaming-console{
                z-index: -1;
                position: absolute;
                top: 9rem;
                left: 7rem;
                width: 12rem;
                height: 12rem;
        }

        &__sheet{
                z-index: 1;
                position: absolute;
                width: 15rem;
                height: 15rem;
                top: -9rem;
                left: 40.5rem;
                .cls-1{
                    fill:#009145;
                }
                .cls-2{
                    fill:#def0e7;
                }
                .cls-3{
                    fill:#cfeadc;
                }
                .cls-4{
                    fill:#98d2b4;
                }
        }

        .quote{
            max-width: 65rem;
                font-family: Imprima , sans-serif;
                text-align: justify;
                color: $color-black-1;
                font-size: 3.6rem;
                padding-left: 21rem;
                transition: color 1s;
                &__quoter{
                        display: block;
                        color: $color-quoter;
                        font-size: 1.3rem * 1.5;
                        text-align: end;
                        margin-bottom: 2rem * 1.5;
                        transition: color 1s;
                    }
            }

        // @media (max-width: 1280px) {
        //     padding-right: 3rem;
        // }
        // @media (max-width: 1024px) {
        //     padding-top: 20rem;
        //     width: 70% !important;
        // }
        // @media (max-width: 760px) {
        //     width: 90% !important;
        // }
        
        
        // h1{
        //     position: relative;

        //     &:hover #gaming-console-clipart{
        //         opacity: 1;
        //         visibility: visible;
        //     }
        //     #gaming-console-clipart{
        //         z-index: -1;
        //         position: absolute;
        //         width: 13rem;
        //         top: 8rem;
        //         left: 5.2rem;
        //         transition: all 1s;

        //     }
            

        //     #sheet-clipart{
        //         z-index: -1;
        //         position: absolute;
        //         width: 18rem;
        //         top: -10rem;
        //         left: 34.3rem;
        //         .cls-1{
        //             fill:#009145;
        //         }
        //         .cls-2{
        //             fill:#def0e7;
        //         }
        //         .cls-3{
        //             fill:#cfeadc;
        //         }
        //         .cls-4{
        //             fill:#98d2b4;
        //         }

        //     }
        // }
        
        // .quote{
        //     font-family: Imprima , sans-serif;
        //     text-align: justify;
        //     color: $color-black-1;
        //     font-size: 2.3rem * 1.5;
        //     padding-left: 14rem * 1.5;
        //     transition: color 1s;
        // }
        // .quoter{
        //     display: block;
        //     color: $color-quoter;
        //     font-size: 1.3rem * 1.5;
        //     text-align: end;
        //     margin-bottom: 2rem * 1.5;
        //     transition: color 1s;
        // }
    }
    .game-draw{
        margin-top: $shifting;
        width: 35%;
        height: auto;
        @media (max-width: 1024px) {
            display: none;
            width: 0%;
        }
    }
}


#dark .title{
    color: $color-white-1;
    .introduction-text{   
       .quote{
            color: $color-white-1;
            &__quoter{
                color: $color-white-1;
            }
        }
        
    }
}